<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container>"

  <div class="field">
    <h4><%= form.label :title %></h4>
    <%= form.text_field :title, style: 'float: left; width: 100%;' %>
  </div>

  <br>

  <div class="field">
    <br>
    <h4><%= form.label :summary %></h4>
    <%= form.text_area :summary, :rows => 10, style: 'width:100%;' %>

    <br>

  <div class="field">
    <h5><%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, prompt: 'Please select' %>
    </h5>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success'   %>
  </div>

</div>

<% end %>
