<p id="notice"><%= notice %></p>

<div class="row p-3 mb-2 bg-primary text-white">
  <h1>Movies</h1>
</div>
<table>
  <thead>
    <tr>
      <div class="row">
      <div class="col-5">
      <th>Title</th>
      </div>
      <div class="col-4">
      <th>Txt</th>
      </div>
      <div class="col-3">
      <th colspan="3"></th>
      </div>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.txt %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>

<h5>
<div id="app">
  {{ message }}
</div>
</h5>

<h6>

<div id="movieinfo">
  {{ message }}
</div>
</h6>
