
<p id="notice"><%= notice %></p>

<%#= javascript_pack_tag 'icons' %>


<div class="container">

  <hr>
  <h2 class="text-center"><%= @movie.title %></h2>

  <h4 class="text-center"><%= link_to @movie.category_name, @movie.category %></h4>

  <% if @movie.rated?  %>

  <h5 class="text-center"><%= pluralize(@movie.num_ratings, 'rating') %> </h5>
  <h5 class="text-center"><%= pluralize(@movie.stars, 'star') %> average</h5>
  

  <% else %>

  <h5 class="text-center text-muted">Not yet rated<h5>

    <% end %>

    <hr>

    <h5 class="text-justify"><%= @movie.summary %></h5>
  </div>

  <br>

  <div class="container">


    <% if can? :update, Movie %>

    <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-warning' %> |

    <% end %>

    <%= link_to 'Back', movies_path, class: 'btn btn-info' %>

  </div>
