<p id="notice"><%= notice %></p>

<div class="container">
  <hr>
  <h2 class="text-center"><%= @movie.title %></h2>
  <h4 class="text-center"><%= link_to @movie.category_name, @movie.category %></h4>
  <h4 class="text-center"><%= @movie.stars %> stars</h4>
  <hr>
  <h6 class="text-justify"><%= @movie.summary %></h6>
</div>

<br>

<div class="container">


  <% if can? :update, Movie %>

    <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-warning' %> |

  <% end %>

  <%= link_to 'Back', movies_path, class: 'btn btn-info' %>

</div>
