<p id="notice"><%= notice %></p>

<%= javascript_pack_tag 'icons' %>

<div class="container">
  <hr>
  <h2 class="text-center"><%= @movie.title %></h2>

    <% if @movie.rated?  %>

    <h2 class="text-center"> <%= @movie.stars %></h2>
    <h6 class="text-center"><%= pluralize(@movie.ratings.count, 'rating') %> </h6>

    <div id='icons'>
      <h2 class="text-center"><eva-icon name="star" fill="#f5f968" animation="pulse"></eva-icon>
      </h2>
    </div>

    <% else %>

    <h6 class="text-center text-muted">Not yet rated<h6> 

    <% end %>

    <h4 class="text-center"><%= link_to @movie.category_name, @movie.category %></h4>
    <hr>
    <h5 class="text-justify"><%= @movie.summary %></h5>
  </div>

  <br>

  <div class="container">


    <% if can? :update, Movie %>

    <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-warning' %> |

    <% end %>

    <%= link_to 'Back', movies_path, class: 'btn btn-info' %>

  </div>
