<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table class="table table-striped" id="ratings-table">
  <thead class="thead-dark">
    <th>User</th>
    <th>Movie</th>
      <th colspan="3"></th>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.user.email %></td>
        <td><%= rating.movie.title %></td>
        <td><%= link_to 'Show', rating, class: 'btn btn-info' %></td>
        <td><%= link_to 'Remove', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@ratings) %>

<hr>

<%= link_to 'Back to the homepage', root_path, class: 'btn btn-info' %>
