<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= link_to @rating.movie.title, @rating.movie  %>
</p>

<p>
  <strong>User email:</strong>
  <%= @rating.user.email %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @rating.stars %>
</p>

<%= link_to 'Back', ratings_path, class: 'btn btn-info' %>
