<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rating.movie.title %>
</p>

<p>
  <strong>User email:</strong>
  <%= @rating.user.email %>
</p>

<p>
  <strong>Stars</strong>
  <%= @rating.stars %>
</p>

<%= link_to 'Back', ratings_path %>
